@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kota.png');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #000000;
    transition: height .7s ease, width .7s ease;
}

.content {
    display: flex;
}

.search-box {
    position: relative;
    width: 800cm;
    height: 55px;
    background: rgba(179, 178, 178, 0.911);
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
    color: #f03232;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 50px 0 35px;
}

.search-box input::placeholder {
    color: aliceblue;
    text-transform: capitalize;
}

.search-box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #f0f8ff;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

.weather-box {
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 65px;
    margin-left: 100px;
    padding: 0 10px 0 -90px;
}

.weather-box p {
    color: #ffa500;
}

.des p {
    color: #ffffff;
}

.weather-box,
.weather-details,
.not-found,
.card,
.hourly {
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active,
.card.active,
.hourly.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box,
.card .box,
.hourly .box {
    transform: translateY(-120%);
}

.weather-box.active .box,
.not-found.active .box,
.card.active .box,
.hourly.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box .box .info-weather {
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind,
.container.active .card .day-forecast,
.container.active .hourly .forecast {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather-box img {
    width: 100%;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 5px 0 6px 10px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

.weather-details {
    text-align: center;
    left: 0;
    width: 100%;
    padding: 0 200px 0 10px;
    display: flex;
    margin-top: -45px;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-details .humidity .info-humidity,
.weather-details .wind .info-wind {
    transform: translateY(-100%);
    overflow: hidden;
}

.weather-details .humidity {
    padding-left: 30px;
    display: flex;
}

.weather-details .wind {
    padding-right: 50px;
}

.weather-details i {
    font-size: 56px;
    margin-right: 5px;
}

.humidity i {
    color: #00ffea;
}

.wind i {
    color: #ffffff;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.not-found {
    position: absolute;
    text-align: center;
    margin-top: 65px;
    padding: 0 30px 0 20px;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.city-hide {
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
    position: absolute;
    transform: translateY(-100%);
}

#clone-info-weather .weather {
    transform: translateY(100%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
    transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}

.card {
    margin-left: 30px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    color: #000000;
    width: 500px;
    height: 450px;
}

.card p {
    font-size: 14px;
    color: #fdfcfc;
}

.card h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 26px;
    font-weight: 500;
    color: orange;
}

.forecast-item {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 15px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
}

.hourly-forecast {
    display: flex;
    margin: 13px 8px 15px 0;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    color: #000000;
    width: 130vh;
    height: 142px;
}

.hourly-items {
    padding: 15px 0 0 28px;
    font-size: 17px;
    align-items: center;
}

.hourly {
    margin-top: 25px;
}

.hourly h2 {
    font-size: 26px;
    font-weight: 500;
    color: #f8ae24;
}

.forecast {
    display: flex;
}

@media only screen and (max-width: 1300px) {
    .hourly-forecast {
        width: 140vh;
        height: 138px;
    }
}

@media only screen and (max-width: 800px) { 
    .weather-details {
        padding: 0 200px 0 6px;
    }

    .weather-box {
        margin-top: 56px;
        margin-left: 80px;
    }
    
    .hourly-forecast {
        width: 130vh;
    }
    
    .hourly-items {
        padding: 13px 0 0 17px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 730px) {
    .weather-details {
        padding: 0 200px 0 5px;
    }
    
    .hourly-items {
        padding: 13px 0 0 13px;
        margin-left: 7px;
    }
}

@media only screen and (max-width: 700px) {
    .weather-details {
        padding: 0 250px 0 3px;
    }

    .hourly-forecast {
        width: 112vh;
    }
    
    .hourly-items {
        padding: 13px 0 0 7px;
    }
}

@media only screen and (max-width: 660px) {
    .hourly{
        position: absolute;
    }

    .hourly-forecast {
        width: 110vh;
    }
    
    .hourly-items {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 650px) {
    .weather-details i {
        font-size: 47px;
        margin-right: 5px;
    }

    .hourly-forecast {
        width: 105vh;
    }
    
    .hourly-items {
        padding: 13px 0 0 3px;
        margin-left: 6px;
    }
}

@media only screen and (max-width: 640px) {
    .weather-box {
        margin-top: 60px;
        margin-left: 50px;
    }

    .weather-details p {
        font-size: 11px;
    }

    .weather-box img {
        width: 90%;
    }
}

@media only screen and (max-width: 620px) { 
    .weather-box {
        margin-top: 65px;
        margin-left: 30px;
    }
    
    .weather-details i {
        font-size: 38px;
    }

    .hourly-forecast {
        width: 104vh;
    }
    
    .hourly-items {
        padding: 13px 0 0 6px;
        margin-left: 4px;
        font-size: 16px;
    }

    .hourly {
        margin-top: 14px;
    }
}

@media only screen and (max-width: 610px) {  
    .weather-box img {
        width: 86%;
    }

    .hourly-items {
        margin-left: 2px;
    }
    
    .hourly h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .weather-box {
        margin-left: 28px;
    }

    .hourly-forecast {
        width: 98vh;
    }
    
    .hourly-items {
        padding: 13px 0 0 5px;
    }
}

@media only screen and (max-width: 580px) {
    .hourly-forecast {
        width: 95vh;
    }
    
    .hourly-items {
        padding: 13px 0 0 1px;
        margin-left: 3px;
    }
}

@media only screen and (max-width: 560px) {
    .weather-box {
        margin-left: -5px;
    }
    
    .hourly-forecast {
        width: 90vh;
    }
    
    .hourly-items {
        padding: 15px 0 0 2px;
        margin-left: 2px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 540px) {
    .weather-box img {
        width: 80%;
    }

    .weather-details i {
        font-size: 30px;
    }
    
    .weather-details span {
        font-size: 18px;
    }

    .weather-details p {
        font-size: 9px;
    }
    
    .hourly-forecast {
        width: 88vh;
    }
    
    .hourly-items {
        margin-left: 0px;
    }

    .hourly {
        margin-top: 10px;
    }

    .card {
        font-size: 15px;
        height: 427px;
    }
    
    .card p {
        font-size: 13px;
    }
    
    .card h2 {
        margin-top: 18px;
        margin-left: 16px;
        font-size: 23px;
    }

    .forecast-item {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .weather-details {
        padding: 0 210px 0 0;
    }
    
    .hourly-forecast {
        width: 84vh;
        height: 128px;
    }
    
    .hourly-items {
        padding: 15px 2px 0 3px;
        font-size: 14px;
    }

    .hourly{
        margin-right: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .weather-box {
        margin-left: -20px;
    }

    .weather-details {
        padding: 0 200px 0 0px;
    }

    .hourly-forecast {
        width: 79vh;
    }
    
    .hourly-items {
        padding: 15px 1px 0 0px;
    }
}

@media only screen and (max-width: 480px) {
    .hourly-forecast {
        width: 74vh;
    }
    
    .hourly-items {
        padding: 15px 0 0 1px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 440px) {
    .search-box {
        height: 45px;
    }

    .content {
        flex-wrap: wrap;
    }

    .weather-box {
        margin-top: 58px;
        margin-left: 70px;
        padding: 0 10px 0 -90px;
    }
    
    .weather-box img {
        width: 77%;
    }

    .weather-box .temperature {
        font-size: 53px;
        margin: -10px 0 0 -5px;
    }
    
    .weather-box .temperature span {
        font-size: 22px;
    }
    
    .weather-box .description {
        font-size: 19px;
        font-weight: 500;
    }
    
    .weather-details {
        margin-top: 45vh;
        padding: 0 10px 0 35px;
    }

    .weather-details i {
        font-size: 38px;
    }
    
    .weather-details span {
        font-size: 19px;
    }
    
    .card {
        position: absolute;
        margin: 90vh 0 0 0px;
        width: 390px;
        height: 190px;
    }

    .card p {
        font-size: 12px;
    }

    .card span {
        font-size: 12px;
    }

    .card img {
        width: 38px;
    }
    
    .card h2 {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 20px;
    }

    .forecast-item {
        margin-left: 20px;
        margin-bottom: -10px;
    }

    .hourly {
        margin-top: 4px;
    }

    .hourly h2 {
        font-size: 20px;
    }

    .hourly-forecast {
        width: 70vh;
        height: 113px;
    }

    .forecast {
        margin-top: -6px;
    }

    .hourly-items {
        padding: 9px 0px 0 0px;
        margin-left: 0px;
        font-size: 11px;
    }

    .hourly-items span {
        font-size: 10px;
    }

    .hourly-items img {
        width: 48px;
    }
}

@media only screen and (max-width: 430px) {
    .card {
        margin: 88vh 0 0 0px;
        width: 360px;
        height: 196px;
    }

    .hourly-forecast {
        width: 64vh;
        height: 105px;
    }

    .hourly-items {
        margin-left: 3px;
    }

    .hourly-items img {
        width: 38px;
    }
}

@media only screen and (max-width: 390px) {
    .weather-box {
        margin-left: 45px;
    }

    .weather-details {
        padding: 0 10px 0 30px;
    }

    .weather-details i {
        font-size: 35px;
    }
    
    .weather-details p {
        font-size: 9px;
    }

    .card {
        width: 345px;
    }

    .hourly-forecast {
        width: 61vh;
    }
    
    .hourly-items {
        font-size: 10px;
    }
}

@media only screen and (max-width: 370px) {
    .card {
        margin: 90vh 0 0 -3px;
        width: 325px;
        height: 220px;
    }

    .hourly-forecast {
        width: 58vh;
        height: 98px;
    }
    
    .hourly-items {
        margin-left: 1px;
    }
}

@media only screen and (max-width: 360px) {
    .card {
        margin: 68vh 0 0 -3px;
        height: 198px;
    }

    .weather-details{
        margin-top: 35vh;
    }
    
    .hourly-forecast {
        width: 43vh;
    }
}

@media only screen and (max-width: 359px) {  
    .card {
        margin: 87vh 0 0 -3px;
        height: 220px;
    }

    .hourly {
        margin-top: 5px;
    }

    .weather-details {
        margin-top: 44vh;
    }

    .hourly-forecast {
        width: 58vh;
        height: 98px;
    }
}

@media only screen and (max-width: 350px) {
    .weather-box {
        margin-left: 25px;
    }
    
    .weather-details {
        padding: 0 10px 0 20px;
    }
    
    .weather-details i {
        font-size: 35px;
    }
    
    .weather-details p {
        font-size: 10px;
    }

    .card {
        width: 310px;
    }

    .hourly-forecast {
        width: 54vh;
        height: 85px;
    }

    .hourly-items {
        font-size: 9px;
        padding: 9px 0px 0 2px;
    }

    .hourly-items img {
        width: 25px;
    }
}

@media only screen and (max-width: 330px) {
    .card {
        width: 287px;
    }

    .hourly-forecast {
        width: 51vh;
    }

    .hourly-items {
        font-size: 8px;
        padding: 9px 0px 0 3px;
    }
}

@media only screen and (max-width: 300px) {
    .weather-details {
        padding: 0 0px 0 0px;
    }

    .card {
        margin: 85vh 0 0 -3px;
        width: 263px;
    }

    .hourly-forecast {
        width: 46vh;
        height: 73px;
    }

    .hourly-items {
        padding: 9px 0px 0 1px;
    }
}